/* FUENTES IMPORTADAS */

@import url("https://pro.fontawesome.com/releases/v5.15.2/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* ROOTS DE COLORES */

:root {
  --ryder-id: #79692f;
  --ryder-bl: #9c9c9c;
}

/* FIRMA DE RYDER */

.ryderfirma {
  margin: auto;
  width: 275px;
  height: 185px;
  padding: 10px;
  background: linear-gradient(to bottom left,#131313, #79692f, #312b16, #060606);
  margin-top: 15px;
}

.ryderfirma img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 185px;
  outline: 1px solid #ccc;
}

.ryderfirma texto {
  display: block;
  width: 132px;
  font: 700 7px "Calibri";
  letter-spacing: 1px;
  text-align: justify;
  text-transform: uppercase;
  line-height: 12px;
  margin-left: 20px;
  margin-top: -70px;
  color: #9c9c9c;
}

.ryderfirmac {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 185px;
  margin-top: -185px;
  background: #000000e0;
  color: white;
}

.ryderfirmac inicial {
  display: block;
  margin-bottom: 45px;
  font: 800 55px "Poppins", san-serif;
  color: var(--ryder-id);
  border-bottom: 2px solid white;
  line-height: 62px;
}

.ryderfirmac frase {
  position: absolute;
  bottom: 50px;
  left: 20px;
  width: 75px;
  text-align: center;
  line-height: 12px !important;
  font: 400 7px "Calibri";
  letter-spacing: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* BAUL PROVISIONAL */

.ryder-baul {
  display: flex;
  margin: auto;
  margin-top: 15px;
  width: 350px;
  height: 350px;
  background: #000;
  border: 10px solid #080808;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ryder-baul texto {
  font: 800 50px "Poppins", san-serif;
  letter-spacing: .5px;
  color: #79692f;
}

.ryder-baul minitexto, minitexto2 {
  position: absolute;
  font: 400 9px "Georgia", san-serif;
  font-style: italic;
  letter-spacing: .5px;
  margin-bottom: 190px;
  margin-right: 140px;
  color: #cecece;
}

.ryder-baul minitexto2 {
  margin-bottom: -190px;
  margin-right: -140px;
}

/* CRONOLOGÍA DE RYDER */

.ryder-crono {
  display: flex;
  margin: auto;
  margin-top: 15px;
  width: 800px;
  color: #ababab;
}

.ryder-crono torre, torredos {
  margin: auto;
  width: 390px;
  height: 515px;
  background: #060606;
}

.rycr-con {
  margin: auto;
  position: relative;
  overflow: auto;
  top: 20px;
  width: 320px;
  height: 455px;
  padding: 10px;
}

.rycr-con::-webkit-scrollbar {
  width: 2px;
}

.rycr-con::-webkit-scrollbar-thumb {
  background: var(--ryder-id);
}

.rycr-con categoria {
  font: 800 18.5px "Poppins", san-serif;
  color: var(--ryder-id);
}

.rycr-con a {
  text-decoration: none;
  font: 700 12.5px "Karla", san-serif;
  line-height: 25px;
  color: #ababab;
}

.rycr-con dt {
  font: 400 7.5px "Karla", san-serif;
  letter-spacing: 1px;  
}

.rycr-con i {
  font-size: 10px;
  padding-right: 5px;
}



