/* FUENTES IMPORTADAS */

@import url("https://pro.fontawesome.com/releases/v5.15.2/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* ROOTS DE COLORES */

:root {
  --ryder-id: #79692f;
  --ryder-bl: #9c9c9c;
}

/* FIRMA PROVISIONAL */

.crawfirma { 
  margin: auto;
  width: 275px;
  height: 185px;
  padding: 10px;
  background: linear-gradient(to bottom left,#131313, #79692f, #312b16, #060606);
  margin-top: 15px;
}

.crawfirma img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 185px;
  outline: 1px solid #ccc;
} 

.crawfirma texto {
  display: block;
  width: 140px;
  font: 700 7px "Calibri";
  letter-spacing: 1px;
  text-align: justify;
  text-transform: uppercase;
  line-height: 12px;
  margin-left: 25px;
  margin-top: -80px;
  color: #dad9d9;
}

.crawfirma texto enfa {
  font: 900 25px "Poppins", san-serif;
  letter-spacing: .5px;
  line-height: 27px;
}

.crawfirma texto enfa b {
  color: #79692f;
  font-weight: 900;
}

/* BAUL PROVISIONAL */

.ryder-baul {
  display: flex;
  margin: auto;
  margin-top: 15px;
  width: 350px;
  height: 350px;
  background: #000;
  border: 10px solid #080808;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ryder-baul texto {
  font: 800 50px "Poppins", san-serif;
  letter-spacing: .5px;
  color: #79692f;
}

.ryder-baul minitexto, minitexto2 {
  position: absolute;
  font: 400 9px "Georgia", san-serif;
  font-style: italic;
  letter-spacing: .5px;
  margin-bottom: 190px;
  margin-right: 140px;
  color: #cecece;
}

.ryder-baul minitexto2 {
  margin-bottom: -190px;
  margin-right: -140px;
}

/* TABLILLA MULTI-PROPOSITO */

.ryder-post {
  margin: auto;
  width: 370px;
  padding: 20px;
  font: 400 11.5px "Roboto Slab", san-serif;
  line-height: 18px;
  text-align: justify;
  color: var(--ryder-bl);
}

.ryder-post categoria {
  display: block;
  text-align: center;
  font: 400 7.5px "Karla", san-serif;
  letter-spacing: 1px;  
}

.ryder-post categoria i {
  font-size: 7px;
  padding: 4px;
  color: var(--ryder-id);
}

.ryder-post categoria span {
  font: 800 20px "Poppins", san-serif;
  color: var(--ryder-id);
}

.ryder-post u {
  text-decoration: none;
  color: var(--ryder-bl);
}

.ryder-post b,strong {
  color: var(--ryder-id);
}

.ryder-post anuncio {
  margin: auto;
  display: block;
  width: 280px;
  font-size: 11px;
}

/* CRONOLOGÍA DE RYDER */

.ryder-crono {
  display: flex;
  margin: auto;
  margin-top: 15px;
  width: 800px;
  color: #ababab;
}

.ryder-crono torre, torredos {
  margin: auto;
  width: 390px;
  height: 515px;
  background: #060606;
}

.rycr-con {
  margin: auto;
  position: relative;
  overflow: auto;
  top: 20px;
  width: 320px;
  height: 455px;
  padding: 10px;
}

.rycr-con::-webkit-scrollbar {
  width: 2px;
}

.rycr-con::-webkit-scrollbar-thumb {
  background: var(--ryder-id);
}

.rycr-con categoria {
  font: 800 18.5px "Poppins", san-serif;
  color: var(--ryder-id);
}

.rycr-con a {
  text-decoration: none;
  font: 700 12.5px "Karla", san-serif;
  line-height: 25px;
  color: #ababab;
}

.rycr-con dt {
  font: 400 7.5px "Karla", san-serif;
  letter-spacing: 1px;  
}

.rycr-con i {
  font-size: 10px;
  padding-right: 5px;
}



