/* FUENTES IMPORTADAS */

@import url("https://pro.fontawesome.com/releases/v5.15.2/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display+SC:wght@700;900&display=swap');

/* RHYLAND FIRMA */

.firmarhys {
  margin: auto;
  width: 255px;
  height: 150px;
  padding: 10px;
  margin-top: 15px;
  background: #191919;
}

.firmarhys frase {
  display: block;
  width: 200px;
  font: 400 7px "Georgia";
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 12px;
  margin-top: -30px;
  margin-left: 30px;
  color: #c1c1c1;
}

/* BAUL */

.baul-rhys {
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 380px;
  height: 410px;
  background: #191919e8;
  outline: 10px solid #191919b3;
  font: 400 11px "Roboto Condensed";
}

.baul-rhys img {
  position: absolute;
  width: 150px;
  height: 410px;
  margin-left: 230px;
}

.baul-rhys cuadro {
  border-top: 1px solid #464646;
  border-bottom: 1px solid #464646;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 22px;
  margin-bottom: 70px;
  font: 800 35px "Playfair Display SC";
  line-height: 35px;
  color: #788267;
}

.baul-rhys info {
  position: absolute;
  line-height: 19px;
  margin-top: 140px;
  margin-left: 30px;
  color: #bfb9b9;
}
